.idea
*.iml
.gradle
build
# this is stupid
run/cache
run/crash-reports
run/logs
run/plugins/bStats
run/plugins/MiniTestFramework/minitestframework
run/world
run/world_nether
run/world_the_end
run/banned-ips.json
run/banned-players.json
run/commands.yml
run/help.yml
run/ops.json
run/permissions.yml
run/spigot.yml
run/usercache.json
run/version_history.json
run/whitelist.json
